body {
    font-family: 'Comic Sans MS', sans-serif;
    background-image: url('../img/hintergrundRegistrieren.png');
    background-size: cover;
}
h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 40px;
}
#registrierungsFormular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 24px;
}

.button{
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    
}

.buttonAbschicken{
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 60px;
}